<form class="card my-5">
    <div class="card-header p-3" id="card-header"><h3>Add New Comment</h3></div>

    <div class="card-body d-flex flex-column m-3">
        <input type="hidden" hidden="true" id="post-id" name="post_id" value="{{singlePost.id}}">
        <label for="comment-body" class="form-label">Comment</label>
        <textarea name="comment-body" id="comment-body" class="form-input"></textarea>

        <button type="submit" class="btn my-3 add-comment">Submit</button>
    </div>
</form>

<script src="/js/comment.js"></script>