<form class="form">
    <h2>Personal Information</h2>

    <div id="personal-info">
        <div class="user form-group">
            <input type="hidden" hidden="true" id="resume-id" name="resume_id" value="{{singleResume.id}}">
            <label for="first-name">First Name:</label>
            <input type="text" placeholder="First Name" id="fname">
            <label for="first-name">Last Name:</label>
            <input type="text" placeholder="Last Name" id="lname">
            <label for="first-name">Email:</label>
            <input type="email" placeholder="Email Address" id="email">
            <label for="first-name">GitHub Username:</label>            
            <input type="text" placeholder="GitHub Account" id="github">
            <br>
        </div>
    </div>
    <hr>

    <h2>Employment History</h2>

    <div id="job-history1" >
        <div class="job-entry1" class="form-group">
            <label for="company">Company Name:</label>            
            <input type="text" placeholder="Company" id="company1">
            <label for="company">Role:</label>              
            <input type="text" placeholder="Role" id="role1">
            <label for="company">Start Date</label>  
            <input type="text" placeholder="Start date: MMM YYYY" id = "rolestart1">
            <label for="company">End Date MMM YYYY. Leave blank if present</label>              
            <input type="text" placeholder="End date: MMM YYYY" id = "roleend1">
            <textarea placeholder="Role Description" id = "description1"></textarea>
            <p></p>
        </div>
    </div>

    <div id="job-history2" >
        <div id="job-entry2" class="form-group hidden">
            <label for="company" class = "hidden">Company Name:</label>            
            <input type="text" placeholder="Company" id="company2" class = "hidden">
            <label for="company" class = "hidden">Role:</label>              
            <input type="text" placeholder="Role" id="role2" class = "hidden">
            <label for="company" class = "hidden">Start Date</label>  
            <input type="text" placeholder="Start date: MMM YYYY" id = "rolestart2" class = "hidden">
            <label for="company" class = "hidden">End Date MMM YYYY. Leave blank is present</label>              
            <input type="text" placeholder="End date: MMM YYYY" id = "roleend2" class = "hidden">
            <textarea placeholder="Role Description" id = "description2" class = "hidden"></textarea>
            <p></p>
        </div>
    </div>

    <div id="job-history3">
        <div id="job-entry3" class="form-group hidden">
            <label for="company" class = "hidden">Company Name:</label>            
            <input type="text" placeholder="Company" id="company3" class = "hidden">
            <label for="company" class = "hidden">Role:</label>              
            <input type="text" placeholder="Role" id="role3" class = "hidden">
            <label for="company" class = "hidden">Start Date</label>  
            <input type="text" placeholder="Start date: MMM YYYY" id = "rolestart3" class = "hidden">
            <label for="company" class = "hidden">End Date MMM YYYY. Leave blank is present</label>              
            <input type="text" placeholder="End date: MMM YYYY" id = "roleend3" class = "hidden">
            <textarea placeholder="Role Description" id = "description3" class = "hidden"></textarea>
            <p></p>
        </div>
    </div>

    <button type="button" id="add-job">Add Job</button>
    <button type="button" id="delete-job" class="hidden">Remove Entry</button>
    <hr>

    <h2>Education History</h2>

    <div id="ed-history1">
        <div id="ed-entry1" class="form-group">
            <label for="company">Institute Name:</label>
            <input type="text" placeholder="Institute" id="institute1">
            <label for="company">Degree Title:</label>
            <input type="text" placeholder="Degree" id="degree1">
            <label for="company">Start Date:</label>
            <input type="text" placeholder="Start date: MMM YYYY" id="edstart1">
            <label for="company">End Date:</label>
            <input type="text" placeholder="End date: MMM YYYY" id="edend1">
            <p></p>
        </div>
    </div>

    <div id="ed-history2">
        <div id="ed-entry2" class = "hidden form-group">
            <label for="company" class = "hidden">Institute Name:</label>
            <input type="text" placeholder="Institute" id="institute2" class = "hidden">
            <label for="company" class = "hidden">Degree Title:</label>
            <input type="text" placeholder="Degree" id="degree2" class = "hidden">
            <label for="company" class = "hidden">Start Date:</label>
            <input type="text" placeholder="Start date: MMM YYYY" id="edstart2" class = "hidden">
            <label for="company" class = "hidden">End Date:</label>
            <input type="text" placeholder="End date: MMM YYYY" id="edend2" class = "hidden">
            <p></p>
        </div>
    </div>

    <div id="ed-history3"></div>
        <div id="ed-entry3" class = "hidden form-group">
            <label for="company" class = "hidden">Institute Name:</label>
            <input type="text" placeholder="Institute" id="institute3" class = "hidden">
            <label for="company" class = "hidden">Degree Title:</label>
            <input type="text" placeholder="Degree" id="degree3" class = "hidden">
            <label for="company" class = "hidden">Start Date:</label>
            <input type="text" placeholder="Start date: MMM YYYY" id="edstart3" class = "hidden">
            <label for="company" class = "hidden">End Date:</label>
            <input type="text" placeholder="End date: MMM YYYY" id="edend3" class = "hidden">
            <p></p>
        </div>
    </div>

    <button type="button" id="add-ed">Add Education</button>
    <button type="button" id="delete-ed" class="hidden">Remove Entry</button>
    <hr>

    <h2>Additional Skills</h2>

    <div id="skills" class="form-group">
        <div class="skills">
            <ul>
               <li><input type="text" placeholder="Skill 1" id="skill1"></li>
               <li><input type="text" placeholder="Skill 2" id="skill2"></li>
               <li><input type="text" placeholder="Skill 3" id="skill3"></li> 
            </ul>
        </div>
    </div>
    <hr>

    <div class="form-group">
    <button class="search-btn" type="submit">Craft Your Resume</button>
    </div>
    </form>