<div class="container my-5">
    <form class="form">
    <h2>Personal Information</h2>

    <div id="personal-info">
        <div class="user form-group">
            <label for="first-name">First Name:</label>
            <input type="text" placeholder="First Name">
            <label for="first-name">Last Name:</label>
            <input type="text" placeholder="Last Name">
            <label for="first-name">Email:</label>
            <input type="email" placeholder="Email Address">
            <label for="first-name">GitHub Username:</label>            
            <input type="text" placeholder="GitHub Account">
            <br>
        </div>
    </div>
    <hr>

    <h2>Employment History</h2>

    <div id="job-history" class="form-group">
        <div class="job-entry">
            <input type="text" placeholder="Company">
            <input type="text" placeholder="Role">
            <br>
            <input type="text" placeholder="Start date: MMM YYYY">
            <input type="text" placeholder="End date: MMM YYYY">
            <br>
            <textarea placeholder="Role Description"></textarea>
            <p></p>
        </div>
    </div>

    <button id="add-job">Add Job</button>
    <hr>

    <h2>Education History</h2>

    <div id="ed-history" class="form-group">
        <div class="ed-entry">
            <input type="text" placeholder="Institute">
            <input type="text" placeholder="Degree">
            <input type="text" placeholder="Start date: MMM YYYY">
            <input type="text" placeholder="End date: MMM YYYY">
            <p></p>
        </div>
    </div>

    <button id="add-ed">Add Education</button>
    <hr>

    <h2>Additional Skills</h2>

    <div id="skills" class="form-group">
        <div class="skills">
            <ul>
               <li><input type="text" placeholder="Skill 1"></li>
               <li><input type="text" placeholder="Skill 2"></li>
               <li><input type="text" placeholder="Skill 3"></li> 
            </ul>
        </div>
    </div>
    <hr>

    <div class="form-group">
    <button class="search-btn" type="submit">Craft Your Resume</button>
    </div>
    </form>
</div>

<script src="/js/create.js"></script>
