<div class="container my-5">
    <form class="form">
    <h2>Personal Information</h2>

    <div id="personal-info">
        <div class="user form-group">
            <label for="first-name">First Name:</label>
            <input type="text" placeholder="First Name">
            <label for="first-name">Last Name:</label>
            <input type="text" placeholder="Last Name">
            <label for="first-name">Email:</label>
            <input type="email" placeholder="Email Address">
            <label for="first-name">GitHub Username:</label>            
            <input type="text" placeholder="GitHub Account">
            <br>
        </div>
    </div>
    <hr>

    <h2>Employment History</h2>

    <div id="job-history1" class="form-group">
        <div class="job-entry1">
            <label for="company">Company Name:</label>            
            <input type="text" placeholder="Company" id="company1">
            <label for="company">Role:</label>              
            <input type="text" placeholder="Role" id="role1">
            <label for="company">Start Date</label>  
            <input type="text" placeholder="Start date: MMM YYYY" id = "rolestart1">
            <label for="company">End Date MMM YYYY. Leave blank is present</label>              
            <input type="text" placeholder="End date: MMM YYYY" id = "roleend1">
            <textarea placeholder="Role Description" id = "description1"></textarea>
            <p></p>
        </div>
    </div>

    <div id="job-history2" class="form-group">
        <div class="job-entry2">
            <label for="company">Company Name:</label>            
            <input type="text" placeholder="Company" id="company2">
            <label for="company">Role:</label>              
            <input type="text" placeholder="Role" id="role2">
            <label for="company">Start Date</label>  
            <input type="text" placeholder="Start date: MMM YYYY" id = "rolestart2">
            <label for="company">End Date MMM YYYY. Leave blank is present</label>              
            <input type="text" placeholder="End date: MMM YYYY" id = "roleend2">
            <textarea placeholder="Role Description" id = "description2"></textarea>
            <p></p>
        </div>
    </div>

    <div id="job-history3" class="form-group">
        <div class="job-entry3">
            <label for="company">Company Name:</label>            
            <input type="text" placeholder="Company" id="company3">
            <label for="company">Role:</label>              
            <input type="text" placeholder="Role" id="role3">
            <label for="company">Start Date</label>  
            <input type="text" placeholder="Start date: MMM YYYY" id = "rolestart3">
            <label for="company">End Date MMM YYYY. Leave blank is present</label>              
            <input type="text" placeholder="End date: MMM YYYY" id = "roleend3">
            <textarea placeholder="Role Description" id = "description3"></textarea>
            <p></p>
        </div>
    </div>



    <button id="add-job">Add Job</button>
    <hr>

    <h2>Education History</h2>

    <div id="ed-history1" class="form-group">
        <div class="ed-entry1">
            <label for="company">Institute Name:</label>
            <input type="text" placeholder="Institute" id="institute1">
            <label for="company">Degree Title:</label>
            <input type="text" placeholder="Degree" id="degree1">
            <label for="company">Start Date:</label>
            <input type="text" placeholder="Start date: MMM YYYY" id="edstart1">
            <label for="company">End Date:</label>
            <input type="text" placeholder="End date: MMM YYYY" id="edend1">
            <p></p>
        </div>
    </div>

    <div id="ed-history2" class="form-group">
        <div class="ed-entry2">
            <label for="company">Institute Name:</label>
            <input type="text" placeholder="Institute" id="institute2">
            <label for="company">Degree Title:</label>
            <input type="text" placeholder="Degree" id="degree2">
            <label for="company">Start Date:</label>
            <input type="text" placeholder="Start date: MMM YYYY" id="edstart2">
            <label for="company">End Date:</label>
            <input type="text" placeholder="End date: MMM YYYY" id="edend2">
            <p></p>
        </div>
    </div>

        <div id="ed-history3" class="form-group">
        <div class="ed-entry3">
            <label for="company">Institute Name:</label>
            <input type="text" placeholder="Institute" id="institute3">
            <label for="company">Degree Title:</label>
            <input type="text" placeholder="Degree" id="degree3">
            <label for="company">Start Date:</label>
            <input type="text" placeholder="Start date: MMM YYYY" id="edstart3">
            <label for="company">End Date:</label>
            <input type="text" placeholder="End date: MMM YYYY" id="edend3">
            <p></p>
        </div>
    </div>

    <button id="add-ed">Add Education</button>
    <hr>

    <h2>Additional Skills</h2>

    <div id="skills" class="form-group">
        <div class="skills">
            <ul>
               <li><input type="text" placeholder="Skill 1"></li>
               <li><input type="text" placeholder="Skill 2"></li>
               <li><input type="text" placeholder="Skill 3"></li> 
            </ul>
        </div>
    </div>
    <hr>

    <div class="form-group">
    <a href="/profile"><button class="search-btn" type="submit">Craft Your Resume</button></a>
    </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

<script src="/js/create.js"></script>
