<div id="hero">
        <div class="hero-body">
            <h2>Writing a resume can be hard, we make it easy.</h2>
                <div class="button-container">
                    <button class="search-btn" type="submit">Craft Your Resume</button>
                </div>
        </div>
    </div>
