:root{
    --main: #881f5b;
    --accent: #da5a5f;
}

* {
    font-family: 'Poppins', sans-serif;
}

a.navbar-brand:hover,
a.nav-link:hover {
    text-decoration: none;
    color: var(--accent);
}

a.sign-up {
    color: var(--accent);
}

a.sign-up:hover {
    text-decoration: none;
    color: var(--main);
}

input {
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--main);
    padding: 8px;
    font-size: 20px;
}

button {
    text-align: center;
    margin: 20px;
    padding: 10px 15px;
    border-radius: 20px;
    background: var(--main);
    border: none;
    color: white;
    font-size: 20px;
}

button a {
    color: white;
}

button:hover {
    background: var(--accent);
    cursor: pointer;
}

.log-in {
    margin: 15px 0;
}

footer {
    background: var(--main);
    color: white;
}

#hero {
    background-image: url("../assets/hero.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-body {
    margin: 4%;
}

.hero-body h2{
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

/* styling resume section on profile page */
.contact p {
    margin: 0px;
    font-size: 15px;
}

#worked-container {
    display: flex;
    justify-content:space-between;
    /* align-items: flex-start; */
}

#work-history,
#education-history {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    margin: 10px;
}

#work-history-head {
    font-weight: 600;
}

#company {
    margin-top: 15px;
}

#work-history p,
#education-history p {
    font-size: 15px;
    margin-top: 10px;
}

#work-history p.startend,
#education-history p.startend {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

#education-history {
    margin-top: 35px;
}

/* styling comments on profile page */
#card-header {
    background: var(--accent);
    color: white;
}

/* -------------media queries------------- */

@media(max-width: 620px) {
    #hero h2 {
        font-size: 40px;
    }
}